{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/b59b2a90d2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Boutique Ado {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <!-- Making the background white, padding (pt-padding top large screens 2) and to make it display on lrge screens as mobile will look different-->
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Boutique</strong> Ado</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="">
                  <div class="input-group w-100">
                      <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                      <div class="input-group-append">
                          <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                              <span class="icon">
                                  <i class="fas fa-search"></i>
                              </span>
                          </button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <!-- The Dropdown Menu -->
                    <li class="list-inline-item dropdown">
                        <!-- This anchor section is the Parent Menu, containing fontawesome icon with "text: My Account" in a paragraph -->
                        <!-- The "data-toggle" dropdown attribute will give a dropdown menu upon click -->
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <!-- Dropdown Django template tags determin what to display in the menu -->
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            <!-- If the user is authenticated I want to display a drop-down item for their profile and a link to logout -->
                            {% if request.user.is_authenticated %}
                            <!-- If the user is authenticated AND a SUPERUSER -->
                                {% if request.user.is_superuser %}
                                <!-- Allows the user to to access link to Manage, Add, Delete products -->
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">My Profile</a> <!-- If Authenticated -->
                                <!-- The "account_logout URL comes from the 'allauth' URLS in the Project Level URLS" -->
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a> <!-- If Authenticated -->
                            {% else %} <!-- If not Authenticated -->
                                <!-- The "account_signup URL comes from the 'allauth' URLS in the Project Level URLS" -->
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a> <!-- Display Register if they don't have an account -->
                                 <!-- The "account_login URL comes from the 'allauth' URLS in the Project Level URLS" -->
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a> <!-- Display Login if they don't have an account -->
                            {% endif %}
                        </div>
                    </li>
                    <!-- This is the shopping cart link, it basically contains a fontawesome icon -->
                    <li class="list-inline-item">
                        <!-- This template variable applies classes if there is something in the cart the font will be bold
                                and if there not it will be normal text -->
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                        <!-- This checks whether the grand total template variable exists -->
                                    {% if grand_total %}
                                    <!-- If it does exist then I want to display the total formatter to 2 decimal places -->
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    <!-- If it doesn't exist then it will display 0 -->
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
          </div>
        </div>
        <div class="row bg-white">
            <!-- Here is Bootstrap Navbar -->
                                        <!-- w-100 will give a nice toggle button for the main navigation -->
            <nav class="navbar navbar-expand-lg navbar-light w-100"> <!-- Will be customized to incluse search bar and links too (data-target/aria-controls)-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>

    </header>

    {% if messages %}
    <!--A place for messages that we send back to the user from Django  -->
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>